body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

.body {

}

header {
  max-width: 1478px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 8px solid #070707;
  border-right: 8px solid #070707;
  border-left: 8px solid #070707;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.menu > ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.menu > ul > li {
  display: flex;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.menu > ul > li > a {
  font-weight: bolder;
  font-size: 30px;
  text-decoration-line: none;
  color: #828282;
}

.menu a:hover {
  color: #070707;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1478px;
  text-shadow: white 0 0 8px;
}

.lang-selector {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
}

.lang-selector a {
  font-size: 30px;
  text-decoration-line: none;
  color: #828282;
}

.lang-selector a:hover {
  color: #070707;
}

#hr-line {
  max-width: 1478px;
  margin-left: auto;
  margin-right: auto;
}

.main-field {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  margin-top: 5px;
  border: 10px solid #828282;
  border-radius: 20%;
  min-height: 599px;
}

.buttons-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 20px;
  top: 196px;
  z-index: 3;
}

.radio-form {
  margin-bottom: 20px;
}

input {
  -webkit-appearance: none;
  appearance: none;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  background-clip: content-box;
  background-color: #e7e6e7;

  border: 2px solid #828282;
  transition: 0.2s all ease-in-out;
  outline: none;
}

input:hover {
  background-color: #828282;
}

input:checked {
  background-color: #070707;
  /*border: 1px solid black;*/
}

/*input:checked::before {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}*/

.slide-main {
  position: absolute;
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in;
  margin-left: -1px;
}

.slide-main.is-visible {
  visibility: visible;
  opacity: 1;
  /*transition: opacity 750ms ease-in-out;*/
}

.img-container {
  position: relative;
  font-size: 70px;
  font-weight: bold;
}

.img-container img {
  border-radius: 18%;
  filter: brightness(40%);
}

#span-first-name {
  position: absolute;
  top: 124px;
  left: 100px;
}

#span-last-name {
  position: absolute;
  top: 375px;
  left: 80px;
}

#span-info-first {
  position: absolute;
  top: 124px;
  right: 138px;
}

#span-info-second {
  position: absolute;
  top: 375px;
  right: 94px;
}

.slide-about {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in;
  margin-left: -1px;
}

.slide-about.is-visible {
  visibility: visible;
  opacity: 1;
  /*transition: opacity 750ms ease-in-out;*/
}

.slide-about > .img-container {
  position: relative;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*overflow: auto;*/
}

#span-about {
  position: absolute;
  top: 37.5px;
}

#span-about-part-one {
  position: absolute;
  top: 112.5px;
}

#span-about-part-two {
  position: absolute;
  top: 187.5px;
}

#span-about-part-three {
  position: absolute;
  top: 285px;
}

#span-about-part-four {
  position: absolute;
  top: 360px;
}

#span-about-part-five {
  position: absolute;
  bottom: 112.5px;
}

#span-about-part-six {
  position: absolute;
  bottom: 37.5px;
}

.footer {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 114px;
  padding-bottom: 123px;
  text-align: center;
}

.contacts {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-message {
  min-width: 334px;
}

.contacts > .footer-message > h1 {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 32px;
  margin-left: 25%;
}

.contacts > .footer-message > p {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-info {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@keyframes expand {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

.message {
  padding-top: 30px;
}

.contact-pics {
  padding-top: 50px;
}

.contact-pics > a {
  margin-left: 28px;
  margin-right: 28px;
}

.contact-pics > a > img:hover {
  animation-name: expand;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes change-color {
  from {
    background-color: #070707;
  }
  to {
    background-color: #828282;
  }
}

.footer-message > a {
  text-decoration-line: none;
  background-color: #070707;
  font-size: 18px;
  line-height: 22px;
  height: 42px;
  width: 180px;
  text-align: center;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  margin-left: 32%;
  padding: 10px;
}

.footer-message > a:hover {
  animation-name: change-color;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}